body {
    background-color: aliceblue;
}
div{
    background-color:white;
    width: 100;
}

.container.navbar{
    background-color: #333#;
    width:100%;
    height:100px;
}
.ul-navbar{
background-color:aqua;

display:flex;
justify-content: center;
align-items: center;

}
     
.li-navbar{
    border:5px solidack;
    list-style-type:none;
    padding:15px;
    margin: 25px;
    font-size: 30px;
}
.container.navbar{
    background-color: black
    
}
.container-content{
background-color:aquamarine;

justify-content: center;
align-items: center;
display: flex;

}

.img-content{
    width: 25%;
    height:25%;
}
.content-setting{
    justify-content: left;
    align-items: last baseline;
}
.ferry-content{
    width: 25%;
    height: 25%;
    align-items: first baseline;
    display: flex;
    justify-content: first baseline;
}
.felin-jpg{
    width: 17%;
height: 10%;
align-items: first baseline;
display: flex;
justify-content: first baseline;
}
.felinn-jpg{
    width:17%;
    height: 10%;
    
}